.popup {
  width: 400px;
  background-color: black;
  border: 2px solid white;
  font-family: monospace;

  &__title {
    font-size: 32px;
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid white;
    color: white;
  }

  &__buttons {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}